*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* HEADER */

@media (max-width: 1300px){
    header{
            flex-direction: column;
            align-items: flex-start;
    }
}

.header{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header nav ul{
    display: flex;
    gap: 10px; 
}

.header ul li{
    display: inline-flex;
}

.header ul li a{
    text-decoration: none;
    color: black;
    border-radius: 20px;    
}

.barra{
    float: right;
    padding: 40px;
    word-spacing: 10px;
    color: yellow;
    text-decoration: none;            
}

.barra :hover{
    color: yellow;
    background-color: black;
}

.LogoBanda{
    float: left;
    padding-left: 25px;
    padding-top: 10px;
}

.btn {
    display: flex;
    background-color: yellow;
    color: black;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: none;
}




/* CONTENIDO */


main{
    height: 100vh;
    width: 100%;
    background-image: url(../media/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor{
    color: white;
    width: 80%;
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid yellow;
    padding: 3px;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    font-size: 30px;
    height: 95vh;
}

.contenedor__index{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 250px 500px;
    grid-template-areas: 
        "titulo titulo"
        "tapadisco tapadisco"
        "spotify spotify"
    ;
    place-content: center;
    font-size: 1.3vw;   
}


.contenedor__historia{
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-size: large;
}


.contenedor__galeria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
}


.titulo{
    grid-area: titulo;
    
}

.spotify{
    grid-area: spotify;
    padding-top: 110px;
}

.tapadisco{
    grid-area: tapadisco;
}

.nec_banner{
    width: 60%;
}

.ultimolanzamiento{
    width: 70vw;
    max-width: 550px;
    min-width: 320px;
    margin-top: 30px;
    border: 10px solid black;
}

.tabladiscos{
    border: yellow solid 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    margin: 40px;
    text-align: center;
    margin-left: 10%;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.795);
    width: 80%;
    float: left;
    text-transform: capitalize;    
}

.tabladiscos ul li{
    list-style: none;
}


.TituloGaleria a{
    color: white;
    text-decoration: none;
}

.TituloGaleria:hover a{
    color:yellow
}

.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:50px;
    padding: 100px;
    border-style:inset;
}




/* FOOTER */


.redes i{
    color: white;
    font-size: 40px;
    letter-spacing: 15px;
}

.redes :hover{
    color: yellow;
}

footer{
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    width: 100%;
    position: absolute;
        
}

.footer p{
    color: white;
    margin-top: 20px;
    font-size: 15px;
}



/* ANIMACIONES */

.tapadisco :hover{
    transform: scale(1.1,1.1);
}

