footer{
    background-color: $ColorSecundario;
    text-align: center;
    font-size: 25px;
    padding: 1em;
    width: 100%;
    position: absolute;
    margin-top: auto;

    p{
        color: white;
        margin-top: 1.3vw;
        font-size: 15px;
    }

    .redes
        i{
            color: white;
            font-size: 40px;
            letter-spacing: 15px;

                &:hover{
                    color: $ColorPrincipal;
                }
        }
       
}