@media (max-width: 1300px){
    header{
            flex-direction: column;
            align-items: flex-start;
            font-size: 15px;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $ColorSecundario;
    padding-bottom: 10px;
    
        nav ul{
                display: flex;
                gap: 5px;
                                                
                    li{
                        display: inline-flex;
                        
                        a{
                            text-decoration: none;
                            color: $ColorSecundario;
                            border-radius: 20px;    
                        }
                    }
                 }    
 
  
    .barra{
        padding: 5px;
        padding-right: 17px;
        word-spacing: 2px;
        color: $ColorPrincipal;
        text-decoration: none;
              
            .btn {
                    // display: flex;
                    background-color: $ColorPrincipal;
                    color: $ColorSecundario;
                    padding: 6px 6px;
                    font-size: 2.3vw;
                    text-decoration: none;
                    font-weight: bold;
                    text-align: center;
                    border: none;
                    
                    &:hover{
                        color: $ColorPrincipal;
                        background-color: $ColorSecundario;
                    }
                    
                }
    }
    

    .LogoBanda{
        max-width: 50vw;
        min-width: 25vw;
        float: left;
        margin: 20px 20px 10px 20px;
    }

}